<div class="sidebar">
  <img class="avatar" src="{{ "/assets/avatar.jpg" | prepend: site.baseurl }}" alt="{{ site.author }}" height="250" width="200">
  <p class="contact">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.weibo_username %}
    <a href="https://weibo.com/{{ site.weibo_username }}" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.linkedin_username %}
    <a href="https://linkedin.com/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    {% endif %}
    <!--<a href="../_site/feed.xml"><img src="http://0.tqn.com/f/stay/a.gif" alt="Subscribe to What's New"></a>-->
    {% if site.email %}
    <a href="mailto:{{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    {% endif %}
    <a href="{{"/feed.xml" | prepend: site.baseurl}}"><i class="fa fa-rss" aria-hidden="true"></i></a>
  </p>

   <div class="col-box-title myFont">Tags</div>
    <ul class="tag-cloud">
    {% for tag in site.tags %}
    <li>
        <a href="/tags/#{{ tag | first | slugize }}">
        {{ tag | first }}
        </a>
    </li>
    {% endfor %}
    </ul>

  <div class="col-box-title myFont">Recent Articles</div>
  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" target="_blank">{{ post.title }}</a></li>
   {% endfor %}
  </ul>

<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<div id="chart-1-container"></div>

<script>

gapi.analytics.ready(function() {

  /**
   * Authorize the user with an access token obtained server side.
   */
  gapi.analytics.auth.authorize({
    'serverAuth': {
      'access_token': 'ya29.ElkbBDng3D6dC-p-a2DAHPoe7_K_kKyDZdf5Mq_S-CGf04bcZpquEYyMU3c9qWrggqvv2H0oLKj097mr9Ox2XivmE08QWzwkENmXcvF5gsqfqco5CKXMzLKW8A'
    }
  });


  /**
   * Creates a new DataChart instance showing sessions over the past 30 days.
   * It will be rendered inside an element with the id "chart-1-container".
   */
  var dataChart1 = new gapi.analytics.googleCharts.DataChart({
    query: {
      'ids': 'ga:137616766',
      'start-date': '30daysAgo',
      'end-date': 'yesterday',
      'metrics': 'ga:sessions,ga:users',
      'dimensions': 'ga:date'
    },
    chart: {
      'container': 'chart-1-container',
      'type': 'LINE',
      'options': {
        'width': '100%'
      }
    }
  });
  dataChart1.execute();
});
</script>

</div>
