<div class="sidebar">
  <img class="avatar" src="{{ "/assets/avatar.jpg" | prepend: site.baseurl }}" alt="{{ site.author }}" height="250" width="200">
  <div class="col-box-title name myFont css2dcc4b9955748">{{ site.author }}</div>
  <p class="myFont css2dcc4b9955748">{{ site.profile }}</p>
  <p class="contact">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.weibo_username %}
    <a href="https://weibo.com/{{ site.weibo_username }}" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.linkedin_username %}
    <a href="https://linkedin.com/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    {% endif %}
    <!--<a href="../_site/feed.xml"><img src="http://0.tqn.com/f/stay/a.gif" alt="Subscribe to What's New"></a>-->
    {% if site.email %}
    <a href="mailto:{{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    {% endif %}
    <a href="{{"/feed.xml" | prepend: site.baseurl}}"><i class="fa fa-rss" aria-hidden="true"></i></a>
  </p>

  <div class="col-box-title myFont css2dcc4b9955748">Recent Articles</div>
  <ul class="post-list">
    <!--<li>Theme By <a href="http://zhaoyuxiang.cn">Clark Zhao</a></li>-->
    {% for post in site.posts limit:10 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" target="_blank">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
