---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% include post-tags.html %}
    <div class="date", style="text-align: right">
    Written on {{ page.date | date: "%B %e, %Y" }}
    </div>
    <div class="date", style="text-align: right">
    Modified on {{ page.last_modified_at | date: "%B %e, %Y"}}
    </div>
    <!--share via google+-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div class="g-plus" data-action="share" data-annotation="none"></div>
    <!--share with twitter-->
    <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  {% include comment.html %}

</div>
